absl-py==1.2.0
aiohttp==3.8.3
aiosignal==1.2.0
alabaster==0.7.13
alembic==1.8.1
antlr4-python3-runtime==4.9.3
anyio==3.5.0
app-model==0.1.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
autopage==0.5.1
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
bokeh==2.4.3
bottle==0.12.23
Bottleneck==1.3.5
brotlipy==0.7.0
build==0.10.0
cached-property==1.5.2
cachetools==5.2.0
cachey==0.2.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.4
cliff==4.1.0
cloudpickle==2.0.0
cmaes==0.9.0
cmd2==2.4.2
colorcet==3.0.1
colorlog==6.7.0
commentjson==0.9.0
cryptography==37.0.1
cycler==0.11.0
dask==2022.7.0
datashader==0.14.2
datashape==0.5.4
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.6
docstring-parser==0.15
docutils==0.17.1
einops==0.5.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.8.2
fonttools==4.25.0
freetype-py==2.3.0
frozenlist==1.3.1
fsspec==2022.10.0
functorch==0.2.1
google-auth==2.12.0
google-auth-oauthlib==0.4.6
greenlet==2.0.1
grpcio==1.49.1
h5py==3.6.0
HeapDict==1.0.1
holoviews==1.15.2
hsluv==5.0.3
humanize==4.4.0
hydra-core==1.2.0
idna==3.3
imageio==2.25.0
imagesize==1.4.1
importlib-metadata==4.11.3
in-n-out==0.1.6
ipykernel==6.15.2
ipython==8.6.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.1
jsonschema==4.16.0
jupyter_client==7.4.7
jupyter_core==4.11.2
jupyter-server==1.18.1
jupyterlab-pygments==0.1.2
kiwisolver==1.4.2
lark-parser==0.7.8
llvmlite==0.38.0
locket==1.0.0
lxml==4.9.1
magicgui==0.6.1
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.0.4
multidict==6.0.2
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
napari==0.4.17
napari-console==0.0.7
napari-plugin-engine==0.2.0
napari-svg==0.1.6
nbclassic==0.4.8
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.5.0
nest-asyncio==1.5.5
nesvor==0.1.0
networkx==2.8.7
nibabel==4.0.2
notebook==6.5.2
notebook_shim==0.2.2
npe2==0.6.2
numba==0.55.1
numexpr==2.8.4
numpy==1.21.5
numpydoc==1.5.0
oauthlib==3.2.1
omegaconf==2.2.3
opencv-python==4.7.0.68
optuna==3.0.4
optuna-dashboard==0.8.0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
panel==0.14.1
param==1.12.2
parso==0.8.3
partd==1.2.0
pbr==5.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
Pint==0.20.1
pip==22.1.2
platformdirs==2.6.0
plotly==5.9.0
ply==3.11
prettytable==3.5.0
prometheus-client==0.14.1
prompt-toolkit==3.0.20
protobuf==3.19.6
psutil==5.9.0
psygnal==0.7.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyct==0.4.8
pydantic==1.10.4
pyDeprecate==0.3.2
pydicom==2.3.0
Pygments==2.11.2
PyOpenGL==3.1.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyperclip==1.8.2
pyproject_hooks==1.0.0
PyQt5-sip==12.11.0
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pytomlpp==1.0.11
pytorch-lightning==1.7.7
pytorch-lightning-bolts==0.3.2.post1
pytz==2022.6
pyviz-comms==2.0.2
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.0
qtconsole==5.4.0
QtPy==2.3.0
ray==2.1.0
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.2.0
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.3
scikit-video==1.1.11
scipy==1.8.1
Send2Trash==1.8.0
setuptools==63.4.1
SimpleITK==2.2.0
sip==6.6.2
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.45
stack-data==0.2.0
stevedore==4.1.1
superqt==0.4.1
tabulate==0.9.0
tenacity==8.0.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
terminado==0.13.1
threadpoolctl==2.2.0
tifffile==2022.10.10
tinycss2==1.2.1
tinycudann==1.6
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.12.1
torch-tb-profiler==0.4.0
torchaudio==0.12.1
torchio==0.18.84
torchmetrics==0.9.3
torchsummary==1.5.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.1
traitlets==5.1.1
typer==0.7.0
typing_extensions==4.3.0
urllib3==1.26.11
virtualenv==20.17.1
vispy==0.11.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==2.2.2
wheel==0.37.1
wrapt==1.14.1
xarray==2022.11.0
yarl==1.8.1
zipp==3.8.0
